* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif
}

body {
    margin: 0;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#calculator #screen {
    background-color: grey;
    margin: 5px;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 50px;
}

.rowTop , .row , .rowBottom {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.button, #screen {
    flex: 1;
    color: white;
    font-size: 25px;
    background-color: grey;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover {
    background-color: lightgrey;
}

.click {
    background-color: grey;
}

.enter {
    flex-basis: 98px;
}